<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Software Jobs</title>
</head>
<body>
    <h1><%= name %></h1>
    <p><%= company_data['description'] %></p>
    <img src="<%= company_data['logo'] %>" width="300px">
    <br>
    <a href="/jobs">View All Jobs</a><!-- This ia a link to the jobs page using the pathway that we created on the server.js file -->

</body>
</html>