<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Boston Software Jobs!</h1>
    <a href="/jobs">View All Jobs</a><!-- This ia a link ot the jobs page using the pathway that we created on the server.js file -->

</body>
</html>

