<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Page</title>
</head>
<body>
    
    <% names.forEach(function(name) { %>
        <ul>
            <li>
                <%= name %>
            </li>
        </ul>
    <% }); %>
</body>
</html>
